.hero-image {
  opacity: 0.8;
  height: 100vh;
}

.hero-container {
  padding-top: 15vh;
  color: white;
}

.form-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

div a:hover {
  text-decoration: none;
}

.navbar-collapse {
  flex-grow: 0;
  justify-content: flex-end;
  flex-basis: none;
}

.navbar-collapse a {
  margin-left: 15px;
  margin-right: 15px;
}

.social-icons a img {
  box-shadow: none;
}

#repo {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about {
  padding-bottom: 0rem;
}

#sign-in {
  margin-top: 0;
}

footer.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
