@media (min-width: 768px) {
  .text-md-right {
    text-align: left !important;
  }
}

.card-deck {
  margin: 0 auto;
}

.card-title {
  text-align: center;
}

.carousel-item.active {
  display: flex;
}
