# This is the service file for gunicorn
[Unit]
Description=gunicorn backend api service
After=network.target

[Service]
Type=notify
NotifyAccess=all
WorkingDirectory=/home/vagrant/Friendzy
ExecStart=/usr/bin/gunicorn_be.sh
#Environment=/home/vagrant/.bash_profile

[Install]
WantedBy=multi-user.target
