{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
	<h3 class="text-dark mb-4">Team</h3>
	<div class="card shadow">
		<div class="card-header py-3">
			<p class="text-primary m-0 font-weight-bold">Employee Info</p>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-6">
					<div class="text-md-right dataTables_filter" id="dataTable_filter"><label><input type="search"
								class="form-control form-control-sm" aria-controls="dataTable"
								placeholder="Search"></label></div>
				</div>
			</div>
			<div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
				<table class="table my-0" id="dataTable">
					<thead>
						<tr>
							<th>Name</th>
						</tr>
					</thead>
					<tbody>
						<tr></tr>
						<tr>
							<td><img class="rounded-circle mr-2" width="30" height="30"
									src="assets/img/avatars/avatar2.jpeg">Viet Tran</td>
						</tr>
						<tr>
							<td><img class="rounded-circle mr-2" width="30" height="30"
									src="assets/img/avatars/avatar2.jpeg">Colson Scott</td>
						</tr>
						<tr>
							<td><img class="rounded-circle mr-2" width="30" height="30"
									src="assets/img/avatars/avatar2.jpeg">Gunter Pearson</td>
						</tr>
					</tbody>
					<tfoot>
						<tr></tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
