{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
	<h3 class="text-dark mb-4 text-center">Friendzy Team</h3>
	<div class="row">
		{% for user in team_list %}
		<div class="col-md-4">
			<div class="card mb-2">
				<img class="card-img-top"
					src="{{ url_for('static', filename = 'img/users/' ~ user.id ~ '.jpg') }}"
					alt="Card image cap">
				<div class="card-body">
					<h3 class="card-title">{{ user.first_name + ' ' + user.last_name }}</h3>
					<h5>Interests</h5>
					<ul>
						{% for interest in user.interests %}
						<li><button class="link" id="{{ interest.name }}">{{ interest.name }}</button></li>
						{% endfor %}
					</ul>
					<div class="social-icons">
						<a href="https://linkedin.com"><img src="{{ url_for('static', filename = 'img/icons/linkedin.png') }}"></a>
						<a href="https://twitter.com"><img src="{{ url_for('static', filename = 'img/icons/twitter.png') }}"></a>
						<a href="https://facebook.com"><img src="{{ url_for('static', filename = 'img/icons/facebook.png') }}"></a>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
