{% extends "layout.html" %}
{% block content %}
<div class="container my-4">

	<!-- heading for carousel -->
	<h2 class="text-center">New Friendz</h2>

	<hr class="my-4">

	<!--Carousel Wrapper-->
	<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

		<!--Controls-->
		<div class="controls-top">
			<a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
		</div>
		<!--/.Controls-->

		<!--Indicators-->
		<ol class="carousel-indicators">
			<li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
			<li data-target="#multi-item-example" data-slide-to="1"></li>
			<li data-target="#multi-item-example" data-slide-to="2"></li>
		</ol>
		<!--/.Indicators-->

		<!--Slides-->
		<div class="carousel-inner" role="listbox">

			<!--Slide template-->
			{% for list in full_list %}
			<div class="carousel-item">
				<div class="row">
					{% for user in list %}
					<div class="col-md-4">
						<div class="card mb-2">
							<img class="card-img-top"
								src="{{ url_for('static', filename = 'img/users/' ~ user.id ~ '.jpg') }}"
								alt="Card image cap">
							<div class="card-body">
								<h3 class="card-title">{{ user.first_name + ' ' + user.last_name }}</h3>
								<h5>Interests</h5>
								<ul>
									{% for interest_name in user.interests %}
									<li>{{ interest_name }}</li>
									{% endfor %}
								</ul>
								<div class="social-icons">
									<a href="https://linkedin.com"><img src="{{ url_for('static', filename = 'img/icons/linkedin.png') }}"></a>
									<a href="https://twitter.com"><img src="{{ url_for('static', filename = 'img/icons/twitter.png') }}"></a>
									<a href="https://facebook.com"><img src="{{ url_for('static', filename = 'img/icons/facebook.png') }}"></a>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			{% endfor %}
			<!--Slide template-->

		</div>
		<!--/.Slides-->

		<!--Controls-->
		<div class="controls-top">
			<a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
		</div>
		<!--/.Controls-->

	</div>
	<!--/.Carousel Wrapper-->


</div>
{% endblock %}
